.header {
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  &__title {
    font-size: 35px;
    font-weight: 1000;
    text-align: center;
  }
  &__name {
    text-align: end;
  }
}
