.header {
  width: auto;
  display: flex;
  flex-direction: row;
  padding: 0 10%;
  justify-content: space-evenly;
  &__title {
    font-size: 30px;
    font-weight: bold;
  }
  &__name {
    padding-top: 20px;
  }
}
